.boton::before {
    content: 'pasa por encima';
}

.boton:hover {
    color: white;
    background-color: green;
    content: ' ¡Hecho!';
    height: 50% !important;
}

.boton::after {
    content: ' ¡Hecho!';
}

